@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-50: #f1fbf5;
    --color-brand-100: #dff7e8;
    --color-brand-200: #c1f0d3;
    --color-brand-300: #92e3b3;
    --color-brand-400: #58cf8e;
    --color-brand-500: #00a050;
    --color-brand-600: #009047;
    --color-brand-700: #007a3d;
    --color-brand-800: #065f35;
    --color-brand-900: #06472a;
    --color-brand-950: #032816;

    --color-navy-50: #eef3fb;
    --color-navy-100: #dae4f6;
    --color-navy-200: #bccbee;
    --color-navy-300: #92aae1;
    --color-navy-400: #6183d1;
    --color-navy-500: #3d63bc;
    --color-navy-600: #2c4c9e;
    --color-navy-700: #263f80;
    --color-navy-800: #21366a;
    --color-navy-900: #10245e;
    --color-navy-950: #071635;
}

[x-cloak] {
    display: none !important;
}
